.icon-close {
  width: 25px;
  height: 25px;
  fill: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
  z-index: 2;
  cursor: pointer;
}
