/* .swiper,
.swiper-wrapper {
  height:100vh !important
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swiper-slide img {
  width: 100%;
} */

.swiper,
.swiper-wrapper {
  height: 100% !important;
  width: 100vw;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100vw; */
}

.swiper-slide img {
  height: auto;
  width: 100%;
}